/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Cinzel';
    src: url('assets/fonts/Cinzel-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Cinzel'; }

app-menu-card {
    display: flex;
    justify-content: end;
    max-width: 1440px;
    margin: 0 auto;
}

app-random-champion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



