nav {
    background: linear-gradient(90deg, #0a0f2c 0%, #1b254f 50%, #3b2c73 100%);
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
}

.nav-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;

    >img {
        cursor: pointer;
    }

}

.teemo-logo {
    height: 72px;
    width: 72px;
    &:hover {
        filter: drop-shadow(0 4px 8px rgba(228, 227, 227, 0.6));
        animation: teemoturn 0.25s ease-in-out;
        transform: rotate(90deg);
    }
}

@keyframes teemoturn {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

.menu-img {
    height: 24px;

    &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}